.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--card);
  border-bottom: 1px solid #ccc;
}

.header a {
  margin: 0 0.5rem;
  font-weight: bold;
}

.header button {
  background: none;
  border: none;
  font-size: 1rem;
}
.logout{
  margin-left: 30px;
}